ipykernel==6.29.5
jupyter==1.1.1
jupyterlab==4.5.7
matplotlib==3.10.7
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
notebook==7.5.6
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
torch==2.8.0
torchvision==0.23.0
